:root {
  --red: 357;
  --blue: 244;
  /* ------------------------------- colors ------------------------------- */
  --pageBG-lighter: hsl(var(--blue), 89%, 7%);
  --pageBG: hsl(var(--blue), 65%, 13%);
  --bgRed: hsl(var(--red), 100%, 51%);
  --bgRed-lighter: hsl(var(--bgRed), 95%, 58%);
  // --fadedRed: #ff0513;

  /* ---------------------------------- text ---------------------------------- */
  --textColor: #ffffff;
  --rootFontSize: "16px";
  --cookieFont: "Cookie";
  --poppinsFont: "Poppins";
  --ralewayFont: "Raleway";
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
}
