$home-name-font: 140px;
$home-title-font: 41px;
$home-description-font: 26px;
$home-social-font: 30px;

#home {
  //   border: 1px solid;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  p {
    margin: 0;
  }
}

.home__circle-mesh {
  position: absolute;
  width: 500px;
  top: 80px;
  left: -150px;
  z-index: 0;
}
/* ------------------------------ content left ------------------------------ */

.home__content {
  // max-width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  // flex: 0 1 50%;
  z-index: 5;
}
.home__content-title {
  width: 100%;
  font-size: $home-title-font;
  line-height: $home-title-font * 1.02;
  font-weight: var(--light);
}
.home__content-name {
  width: 100%;
  font-size: $home-name-font;
  line-height: $home-name-font * 1.02;
  font-weight: var(--bold);
  z-index: 2;
}

.home__content-description {
  width: 100%;
  font-size: $home-description-font;
  line-height: $home-description-font * 1.02;
  font-weight: var(--light);
}
.home__social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}
.home__social p {
  font-family: var(--ralewayFont);
  font-weight: var(--regular);
  font-size: $home-social-font;
  line-height: $home-social-font * 1.02;
}
.home__content-icons {
  width: 100%;
  display: inherit;
  padding: 0;
}
.home__content-icons li {
  max-width: 40px;
  height: 100%;
  margin-top: 20px;
}
.home__content-icons li:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
.home__content-icons li a {
  position: relative;
}
.home__content-icons li a:nth-child(3) {
  background-image: url("../../assets/images/svg/insta.svg");
  background-repeat: no-repeat;
  img {
    width: 100%;
  }
}

.home__content-buttons {
  width: 100%;
  // display: flex;
  justify-content: center;
  z-index: inherit;
}
.home__content-buttons button {
  width: 200px;
  height: auto;
  font-family: var(--ralewayFont);
  font-size: 30px;
  font-weight: var(--regular);
  padding: 1rem 0;
  border-radius: 60px;
  background: transparent;

  &:last-child {
    margin: 0 30px;
  }
  a {
    display: inline-block;
    width: 100%;
  }
}
.home__content-buttons .hire-red {
  background: var(--bgRed);
  border: none;
}
/* ------------------------------- image right ------------------------------ */

.home__image {
  display: inherit;
  flex: 0 1 50%;
  justify-content: flex-end;
  transform: translate(6rem, -6rem);
}
.home__image img {
  width: 100%;
}
